<h1></h1>
<p>I hold a BE (EEE) and MBA (Systems & Finance ) degree from the prestigious Anna University. I love programming. I am currently learning Ruby on Rails. I have designed this website using Ruby on Rails. I love teaching children.</p>
